.list-item {
  width: 100%;
  padding: 0.3rem 0.5rem;
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
}

.text {
  padding: 0.2rem;
}
