.app {
  background-color: #303030;
  color: #f3f3f3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 500px;
  background-color: black;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
